<%= form_tag lists_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag "Search"%>
  </p>
<% end %> 

<a href="<%= new_search_path %>" class="btn btn-secondary">Advanced Search</a>

<div class="row list_path_row">
  <% @lists.each do |list|%>
  <div class="col-sm-3">
    <div class="card">
      <img src="https://i.pinimg.com/564x/6f/2c/41/6f2c419eb014801d282dda82b0bbeb77.jpg" id="list_image" class="card-img-top" alt="list image">
      <div class="card-body">
        <h5 class="card-title"><%= list.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">by <%= list.creator.name %></h6>
        <a href="<%= list_path(list) %>" class="btn btn-secondary">See this list</a>
      </div> 
    </div>
  </div>
  <% end %>
</div>

