<body class="list_show_two_column"> 
<div class="container list_show"> 
    <div class="row">
      <div class="col-sm-8 list_info">
          <div class="list_title"><%= @list.title%></div>
          <div class="list_creator">by <%= link_to @list.creator.name, user_path(@list.creator) %></div><br>
          <div class="follow_count">
              <%= pluralize(@list.follows.count, 'Follower')%></div>
          
          <div class="follow_button"><%= render "follows/button" %></div>

      <div class="each_list">
        <div class="notstartedyet_items">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>              
            <ul>
                <% @list.items_of_status("Not started yet").each do |item| %>
                <li>
                  <div class="d-flex">
                      <%= link_to item.content, item_path(item) %>  
                      <div class="dropdown mr-1">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20", style= "padding: 0px; font-size: 12px;">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                          <%= link_to "Edit", edit_item_path(item), class: "dropdown-item" %>
                          <%= link_to "Delete", item_path(item), method: :delete, class: "dropdown-item" %>
                        </div>
                      </div>
                  </div>
                </li><br>
              <% end %>
             </ul>
        </div>
        <div class="inprogress_items">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">In progress</div>
            </div>              
            <ul>
                <% @list.items_of_status("In progress").each do |item| %>
                <li><%= link_to item.content, item_path(item) %></li><br>
              <% end %>
             </ul>
        </div>
        <div class="finished_items">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Finished</div>
            </div>          
              <ul>
              <% @list.items_of_status("Finished").each do |item| %>
                <li><%= link_to item.content, item_path(item) %></li><br>
              <% end %>
          </ul>
        </div>
      </div>
          <% if current_user == @list.creator %>
          <div class="edit_delete_buttons">
              <%= link_to "Edit this list", edit_list_path(@list), class: "btn btn-info", style: "color: white;" %>
            <%= link_to "Delete this list", list_path(@list), method: :delete, class: "btn btn-info"%>
          </div>
          <% end %>
      </div>
      <% if current_user == @list.creator %>
      <div class="col-sm-4">
        <div class="item_form_wrapper">
          <%= form_for @list.items.build do |f| %>
            <%= f.label :content, "Add a new Item to your list!" %>
            <%= f.text_field :content %><br><br>

            <%= f.label :status %>
            <%= f.select :status, ["Not started yet", "In progress", "Finished"]%><br><br>

            <%= f.label :category %>
            <%= f.select :category, ["Food/Drink", "Travel/Destination", "Entertainment", "Nature/Wildlife", "Relationship", "Creativity", "Fashion/Beauty", "Other"] %><br><br>

            <%= f.hidden_field :list_id, value: @list.id %>

            <%= f.submit %>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
</div>
</body>


