<body class="list_show_two_column">
<div class="container list_show"> 
    <div class="row">
      <div class="col-sm-8 list_info">
          <div class="list_title"><%= @list.title%></div>
          <div class="list_creator">by <%= link_to @list.creator.name, user_path(@list.creator) %></div><br>
          <div class="follow_count">
              <%= pluralize(@list.follows.count, 'Follower')%></div>
          

          <div class="follow_button"><%= render "follows/button" %></div>
          <div class="each_item">
          <ul>
              <% @list.items.each do |item| %>
                <li><%= link_to item.content, item_path(item) %></li><br>
              <% end %>
          </ul>
        </div>
          <% if current_user == @list.creator %>
          <div class="delete_list_button">
          <%= link_to "Delete this list", list_path(@list), method: :delete, class: "btn btn-secondary" %>
          </div>
          <% end %>
      </div>
      <% if current_user == @list.creator %>
      <div class="col-sm-4">
        <div class="item_form_wrapper">
          <%= form_for @list.items.build do |f| %>
            <%= f.label :content, "Add a new Item to your list!" %>
            <%= f.text_field :content %><br><br>

            <%= f.label :status %>
            <%= f.select :status, ["Not started yet", "In progress", "Finished"]%><br><br>

            <%= f.label :category %>
            <%= f.select :category, ["Food/Drink", "Travel/Destination", "Entertainment", "Nature/Wildlife", "Relationship", "Creativity", "Fashion/Beauty", "Other"] %><br><br>

            <%= f.hidden_field :list_id, value: @list.id %>

            <%= f.submit %>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
</div>
</body>


