<div class="background"></div>
<div class="login_form">
  <%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "log in" %><br><br>
  <div>Not a current user of Bucketlyster?</div>
  <%= link_to "Sign Up", new_user_path(@user), class: "btn btn-outline-secondary" %>
  <% end %>
</div>