<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :age_group, "Age Range" %><br />
    <%= f.text_field :min_age, size: 10 %> -
    <%= f.text_field :max_age, size: 10 %>
  </div>
  <div class="field">
      <%= f.label :gender, "Gender" %><br />
      <%= f.select :gender, ["male", "female"]%>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>