<h1>Advanced Search</h1>
 
<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :age_group, "Age Range" %><br />
    <%= f.text_field :min_age, size: 10 %> -
    <%= f.text_field :max_age, size: 10 %>
  </div>
  <div class="field">
      <%= f.label :gender, "Gender" %><br />
      <%= f.select :gender, ["", "Male", "Female"]%>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<!-- 
<form class="new_user" id="new_user" action="/login" accept-charset="UTF-8" method="post">
  <div class="form-group">
    <label for="user_name">Username</label>
    <input class="form-control" name="user[name]" id="user_name" type="text" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" class="form-control" id="user_password" placeholder="Password">
  </div>
  <button type="submit" name="commit" class="btn btn-secondary">Log In</button>
</form> -->