<h1>Item: <%= @item.content%></h1>



<div>Comments of this item:</div>
<div><%= @item.comments.count %> comments </div><br>
<%= render "comments/comment" %>

<br><br><div>Leave a comment: </div>
<%= render "comments/form" %><br><br>

<%= link_to "Go back to the list", list_path(@item.list)%>


<% if @item.list.creator == current_user %>
<%= link_to "Edit", edit_item_path(@item), class: "btn btn-outline-primary" %>
<%= link_to "Delete", item_path(@item), method: :delete, class:"btn btn-outline-primary" %>
<% end %>

