<h1>Item: <%= @item.content%></h1>



<div>Comments of this item:</div>
<div><%= @item.comments.count %> comments </div>
<%= render "comments/comment" %>

<div>Leave a comment: </div>
<%= render "comments/form" %>


<%# <ul> %>
<%# @item.comments.each do |comment| %>
  <%# <li><%= link_to comment.content, comment_path(comment))</li> %>
<%# end %>
<%# </ul> %>