<h1>Item: <%= @item.content%></h1>



<div>Comments of this item:</div>
<div><%= @item.comments.count %> comments </div><br>
<%= render "comments/comment" %>

<br><br><div>Leave a comment: </div>
<%= render "comments/form" %><br><br>

<%= link_to "Go back to the list", list_path(@item.list)%>


