<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="header">
          <% if session[:user_id] %>
              <div class="left">Hello <%= current_user.name %></div>
              <div class="right"><%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
              <input type=submit value='logout'>
              <% end %></div>
          <% else %>
              <div class="right"><%= link_to "Login", login_path %></div>
          <% end %>

          <div class="right"><%= link_to "Home", root_path %></div>
          <div class="right"><%= link_to "My page", current_user %></div>
      </div>
      
    <%= yield %>
  </body>
</html>
